black==24.3.0
flake8==7.0.0
isort == 5.13.2
jupyterlab==4.2.0
matplotlib==3.9.0
numpy == 1.26.0
pandas==2.2.2
pyright == 1.1.360
pytest==8.0.1
seaborn==0.13.2
torch == 2.2.2
torchvision==0.17.2
tqdm == 4.66.4